.more-info
  :markdown
    Looking for help? [Magmalabs](https://magmalabs.io) provides expert Ruby on Rails development. We’ve built hundreds of high–quality Ruby on Rails applications over the past decade. Contact us today and find out how we can help you.
