/ Global site tag (gtag.js) - Google Analytics
- if ENV['GOOGLE_ANALYTICS_ID']
  %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=#{ENV['GOOGLE_ANALYTICS_ID']}"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '#{ENV['GOOGLE_ANALYTICS_ID']}');

  :javascript
    document.addEventListener("DOMContentLoaded", function() {
      var posts = [].slice.call(document.querySelectorAll("#home .post"));

      if ("IntersectionObserver" in window) {
        let postObserver = new IntersectionObserver(function(entries, observer) {
          entries.forEach(function(entry) {
            if (entry.isIntersecting) {
              let post = entry.target;
              gtag('event', 'page_view', {
                page_title: post.dataset.title,
                page_location: post.dataset.url,
                page_path: post.dataset.path
              })
              postObserver.unobserve(post);
            }
          });
        });

        posts.forEach(function(post) {
          postObserver.observe(post);
        });
      }
    });
