development: &default
  default_twitter_handle: 'magmalabs'
  production_app_name:
  host: 'www.example.com'
  protocol: 'http://'
  permitted_domains: 'magmalabs.io'
  slack_post_endpoint:
  twitter_access_token:
  twitter_access_token_secret:
  twitter_consumer_key:
  twitter_consumer_secret:
  update_twitter_with_post: "false"

test:
  <<: *default

production:
  default_twitter_handle: 'magmalabs'
  production_app_name: 'magma-til'
  host: 'magma-til.herokuapp.com'
  protocol: 'https://'
  permitted_domains: 'magmalabs.io'
  slack_post_endpoint:
  twitter_access_token:
  twitter_access_token_secret:
  twitter_consumer_key:
  twitter_consumer_secret:
  update_twitter_with_post: "false"
  SENDMAIL_USERNAME: ''
  SENDMAIL_PASSWORD: ''
  MAIL_HOST: 'heroku.com'