development: &default
  default_twitter_handle: 'magmalabs'
  production_app_name:
  google_client_id: 
  google_client_secret: 
  host: 'www.example.com'
  protocol: 'http://'
  permitted_domains: 'magmalabs.io'
  slack_post_endpoint:
  twitter_access_token:
  twitter_access_token_secret:
  twitter_consumer_key:
  twitter_consumer_secret:
  update_twitter_with_post: "false"

test:
  <<: *default

production:
  default_twitter_handle: 'magmalabs'
  production_app_name: 'magma-til'
  google_client_id: 
  google_client_secret: 
  host: 'magma-til.herokuapp.com'
  protocol: 'https://'
  permitted_domains: 'magmalabs.io'
  slack_post_endpoint:
  twitter_access_token:
  twitter_access_token_secret:
  twitter_consumer_key:
  twitter_consumer_secret:
  update_twitter_with_post: "false"
  SENDMAIL_USERNAME: 'SOMETHING@heroku.com'
  SENDMAIL_PASSWORD: 'heroku sendmail password'
  MAILER_DOMAIN: 'heroku.com'