$primary-typeface: "Lato-Bold", "Helvetica Neue", Helvetica, sans-serif;
$secondary-typeface: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
$news-typeface: "Limelight", sans-serif;

$light: #ffffff9a;
$light-bg: rgba(167, 167, 167, 0.30);
$med: #92c4d1;
$dark: #414347;
$border-color: rgba(158, 158, 158, 0.5);

$navy: #082736;
$red: #ae1f23;
$cyan: #1b9bac;
$pink: #ee7567;
$green: #49b652;
$blue: #67acdb;
$bg-red: #d92f42;
$header-red: rgb(244,85,84);
$yellow: #FFCC00;
$white: rgb(255, 255, 255);

$twitter-color: #55acee;
$github-color: #4b4b4b;

$base: $dark;
$bg: $light;
$accent: #ffffffef;
$error: $red;

$colors: (
  #5cc3ff,
  #ff6d40,
  #5dde90,
  #f2d56d,
  #f29de4
);
